alias ls="ls -lah --color=tty"
alias phpspec="vendor/bin/phpspec run"
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias behat="vendor/bin/behat"
alias a="php artisan"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias dc="docker-compose "
alias dexit="docker exec -it"
