#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

echo "Installing Homebrew dependencies"
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" }}

{{- if .packages.linux.apt }}
echo "Installing APT dependencies"
sudo apt install {{ .packages.linux.apt | join " " }}
{{ end -}}

{{- if .packages.linux.snaps }}
echo "Installing Snaps"
sudo snap install {{ .packages.linux.snaps | join " " }}
{{ end -}}

{{ else }}
# other operating system
{{ end -}}

{{- if .packages.shared.scripts }}
echo "Running package scripts"
{{ range .packages.shared.scripts }}
{{- if hasKey . "ifNotExists" }}
if [ ! command -v {{ .ifNotExists }} &> /dev/null ]
then
	echo "Installing {{ .name }}"
	{{ .run }}
fi
{{ else }}
echo "Installing {{ .name }}"
{{ .run }}
{{ end -}}
{{ end -}}
{{ end -}}
