#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" }}

{{- if .packages.linux.apt }}
sudo apt install {{ .packages.linux.apt | join " " }}
{{ end -}}

{{- if .packages.linux.snaps }}
{{ range .packages.linux.snaps }}
if ! sudo snap list {{ . }} &> /dev/null
then
    sudo snap install {{ . }}
fi
{{ end -}}

{{- if .packages.linux.scripts }}
{{ range .packages.linux.scripts }}
{{- if hasKey . "ifNotExists" }}
if ! command -v {{ .ifNotExists }} &> /dev/null
then
	{{ .run }}
fi
{{ else }}
{{ .run }}
{{ end -}}
{{ end -}}
{{ end -}}

{{ end -}}

{{ else }}
# other operating system
{{ end -}}

{{- if .packages.shared.scripts }}
{{ range .packages.shared.scripts }}
{{- if hasKey . "ifNotExists" }}
if ! command -v {{ .ifNotExists }} &> /dev/null
then
	{{ .run }}
fi
{{ else }}
{{ .run }}
{{ end -}}
{{ end -}}
{{ end -}}
